/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }
    body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 170%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
/* section */
.section {
  padding-bottom: 5rem;
}
p{

  text-align: center;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.img-clima {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/ 
/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(56, 201, 206, 0.5), rgba(0, 0, 0, 0.7)),
    url(./hero-bcg.jpeg) center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
#about{
    height: 250vh;
    
}
#services{
  height: 150vh;
  /* Estilos para as imagens */
 
.curso
{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 5%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}


}
#tours {
  height: 150vh;
  /* Estilos para as imagens */
.clima img,
.jogo img,
.crud img,
.musica img,
.semaforo img,
.lista img,
.wiki img{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 5%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}

/* Estilos para os títulos */
.clima h3,
.jogo h3,
.crud h3,
.musica h3,
.semaforo h3, 
.lista h3,
.wiki h3{
  text-align: center; /* Centraliza o texto */
}
}


footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
#services {
text-align: center;
height: 200vh;

}

.curso1{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: 100px auto; /* Isso permite que a altura seja ajustada automaticamente */
  
}

.curso2{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}


.curso3{
 
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}

.curso4{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}

.curso5{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}

.curso6{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}

.curso7{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}

.curso8{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}

.curso9{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}

.curso10{
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 10%; /* Defina a largura máxima desejada */
  height: auto; /* Isso permite que a altura seja ajustada automaticamente */
}
.imgabout{
text-align: center;
width: 1%;
height: 1%;

}

/* Personal Portfolio Mobile */
body {
  
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
}

#portfolio {
  position: absolute;
  width: 430px;
  height: 932px;
  background: linear-gradient(180deg, #5CADA8 0%, #55A19C 50%, #264745 100%);
  transition-property: var(--clr-black);
  text-align: center;
}

/* Header Section */
#header {
  position: absolute;
  width: 430px;
  height: 113px;
  left: 0;
  top: 2px;
  background:80deg, #5CADA8 0%, #55A19C 50%, #264745 100%;
  border-radius: 0px 0px 35.6px 35.6px;
}

#logo-container {
  
position: absolute;
width: 68.66px;
height: 67.28px;
left: 35px;
top: 23px;

   display: flex;
  justify-content: center;
  align-items: center;
}

#vector-bg {
  position: absolute;
  left: 9.07%;
  right: 75.89%;
  top: 2.9%;
  bottom: 90.31%;
  
  background: #FFFFFF;
  border: 1.5625px solid #000000;
}

#vector-fg {
  position: absolute;
  left: 8.14%;
  right: 76.82%;
  top: 2.47%;
  bottom: 90.74%;
  
  background: #55A19C;
  border: 1.5625px solid #000000;
}

#logo-r {
  position: absolute;
  width: 36px;
  height: 40px;
  left: 49px;
  top: 35px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 40px;
  text-align: center;

color: #18191F;
}

/* Content Section */
#hello-world {
  position: absolute;
  width: 302px;
  height: 40px;
  left: 0;
  top: 148px;
  font-weight: 800;
  font-size: 48px;
  line-height: 40px; /* identical to box height, or 83% */
  text-align: center;
  color: #ffffff;
}

#intro-text {
  position: absolute;
  width: 418px;
  height: 122px;
  left: 19px;
  top: 213px;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px; /* or 112% */
  color: #ffffff;
}

#frontend-developer {
  position: absolute;
  width: 265px;
  height: 40px;
  left: 49px;
  top: 408px;
  font-weight: 625;
  font-size: 22px;
  line-height: 2px; /* identical to box height, or 112% */
  color: #ffffff;
  transition: calc();
  border-radius: var(--clr-black);
  


}

#portfolio-image {
  position: absolute;
  width: 200px;
  height: 300px;
  left: 29px;
  top: 436px;
  filter: drop-shadow(9px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;

  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgb(243, 213, 132);
}



@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

#icones{

text-align: center;

}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius:15px;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #000000;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #7a21b6;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

